body {
  margin: 0;
  background-color: #f3f3f3;
  overflow-x: hidden;
}

.title {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

#restart,
#random {
  font-size: 20px;
  font-weight: 400;
  background-color: hsla(130, 92%, 42%, 0.907);
  padding: 8px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
}

#restart {
  display:none;
}

.battleship-user,
.battleship-computer {
  width: 400px;
  height: 400px;
  margin: 2vmin;
  display: grid;
  background-color: rgb(5, 106, 247);
  grid-template-rows: repeat(10, 40px/*1fr 5.44vmin*/);
  grid-template-columns: repeat(10, 40px /*1fr 5.44vmin*/);
}

.battleship-computer {
  cursor: pointer;
}

.square {
  border: 1px solid rgba(235, 217, 144, 0.683);
}

.ship-container,
.hidden-info,
.hidden-info2 {
  display: flex;
  justify-content: center;
}

.hidden-info2 {
  gap: 60px;
}

.grid-display {
  display: flex;
  margin-top: 10px;
}

.playerShip {
  background-color: rgb(255, 221, 0);
}

.square.hit {
  background-color: red;
}

.square.miss {
  background-color: black;
}
